.gradle/
local.properties
/.idea/
.DS_Store
/build/
**/build/
captures/
*.apk
*.ap_
*.aab
*.jks
*.keystore
!debug.keystore
.cxx/
.externalNativeBuild/
mirakc/src/main/jniLibs/
mirakc/src/main/assets/isdbt_rio.inp
.work/
epgstation-server/.generated/
